
.navbar {
  background: linear-gradient(135deg, #a5f3fc, #c4b5fd);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  padding: 20px 24px;
  position: sticky;
  top: 0;
  z-index: 50;
  transition: all 0.3s ease;
  border-bottom: 1px solid rgba(99, 102, 241, 0.3);
  animation: glow 3s infinite alternate;
}



@keyframes glow {
  0% { box-shadow: 0 0 10px rgba(99, 102, 241, 0.3); }
  100% { box-shadow: 0 0 20px rgba(99, 102, 241, 0.6); }
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start ;
  align-items: center;
  height: 30px;
}

.nav-logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo-container:hover {
  transform: scale(1.02);
}

.logo-circle {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  background: linear-gradient(135deg, #6366f1, #38bdf8);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(99, 102, 241, 0.2);
  transition: all 0.4s ease;
}

.logo-circle.pulse {
  transform: scale(1.1);
  box-shadow: 0 4px 14px rgba(99, 102, 241, 0.4);
}

.logo-inner-circle {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
  background-color: white;
  transition: all 0.3s ease;
}
.logo-text {
  font-size: 2rem !important;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif !important;
  color: #6366f1;
  text-shadow: 
    1.5px 1.5px 0 #38bdf8 !important;
  transition: all 0.3s ease;
  letter-spacing: 1px;
}

.logo-text:hover {
  transform: translateY(-3px);
  text-shadow: 
    2px 2px 0 #38bdf8, 
    3.5px 3.5px 0 #196198 !important 
}

/* Responsive styles */
